/* navbar item */
.nav-item a{
    margin-right: 30px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.nav-item a:hover{
    background-color: blue;
    color: white;
    border-radius: 5px;
}